<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>SelectMantraIntent</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>chart.bar</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>ShowStatistics</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ShowStatistics</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>square.and.pencil</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>NewMantra</string>
			<key>UIApplicationShortcutItemType</key>
			<string>NewMantra</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
